<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".activities.NotImplemented"
            android:exported="true"
            tools:ignore="ExportedActivity" />

        <activity-alias
            android:name=".activities.LogWindow"
            android:exported="true"
            android:targetActivity=".activities.NotImplemented" />

        <activity-alias
            android:name=".activities.Req"
            android:exported="true"
            android:targetActivity=".activities.NotImplemented" />
    </application>
</manifest>