<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- xui overlay: do NOT set package here -->

    <application tools:replace="android:label">

        <!-- Make LoginActivity the ONLY launcher in xui -->
        <activity
            android:name="de.blinkt.openvpn.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 1) Remove the base MainActivity completely... -->
        <activity
            android:name=".activities.MainActivity"
            tools:node="remove" />

        <!-- 2) ...and add it back WITHOUT any launcher/browsable filters -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="true" />

        <!-- Remove aliases that cause targetActivity/name conflicts -->
        <activity-alias
            android:name="de.blinkt.openvpn.api.ResumeVPN"
            tools:node="remove" />
        <activity-alias
            android:name=".activities.ConfigConverterFile"
            tools:node="remove" />
    </application>
</manifest>